{% extends 'base.twig' %}

{% block title %}درباره ما{% endblock %}
{% block keywords %}درباره {{app_name}}, ترجمه رسمی آنلاین {{app_name}}{% endblock %}
{% block desc%}درباره سامانه ترجمه رسمی آنلاین {{app_name}}{% endblock %}
{% block scripts %}
    <script type="text/javascript">

    </script>
{% endblock %}


{% block content %}

    <div class="container mainContainer" style="text-align: justify;direction: rtl;">
        <h4 class="centerHeader">درباره {{ app_name }}</h4>
        <p>
            {{ app_name }}
            اولین سامانه جامع ترجمه رسمی است که به شما کمک می کند به سرعت و با آسانی مدارک خود را ترجمه رسمی کنید. این سامانه امکان یافتن نزدیکترین دفاتر به شما را فراهم می کند تا بتوانید با کمترین فوت وقت با دفتر موردنظر ارتباط برقرار کنید.
        </p>
        <p>
            {{ app_name }}
            بین مترجمان رسمی یک فضای رقابت ایجاد می کند تا مترجمی که بهترین کیفیت را در کوتاه ترین زمان ارائه می کند، امتیاز بالاتری نسبت به سایر مترجمین بگیرد. این فضای رقابت خود به خود کیفیت کار همه مترجمین را بالا می برد تا شما مشتریان عزیز خیلی سریع به ترجمه با کیفیت مطلوب برسید.
        </p>
        <p>
            یکی دیگر از مزایای {{ app_name }} ایجاد رقابت بین مترجمان بر اساس هزینه ارسال است. بعضی از مترجمان هزینه ارسال و دریافت مدارک را به طور کامل پرداخت می کنند. بعضی از آن ها هزینه را بر عهده مشتری می گذارند و بعضی از آن ها ارسال را تا مسافت خاصی به صورت رایگان انجام می دهند. {{ app_name }} به شما مشتریان عزیز کمک می کند راحت تر در انتخاب مترجم تصمیم گیری کنید.
        </p>
        <p>قیمت ترجمه در {{ app_name }} منطبق با نرخنامه انجمن مترجمان رسمی است و مشتریان عزیز به غیر از هزینه ارسال هیچ هزینه اضافی پرداخت نمی کنند. البته برای مترجمانی که دارای پیک رایگان هستند، این هزینه نیز از هزینه های مشتری حذف می شود. تخمین هزینه ارسال و دریافت مدارک منطبق با نرخ الوپیک محاسبه می شود.</p>

    </div>

{% endblock %}
