{% extends 'base.twig' %}

{% block title %}لیست دفاتر ترجمه رسمی{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(document).ready(function(){  

	});
        
        function getDistance(sort){
            if(sort<1.0){
                return "فاصله تا شما: "+ Math.round(sort*1000)+" متر";
            }
            else{
                return "فاصله تا شما: "+  parseFloat(Math.round(sort * 100) / 100).toFixed(2)+" کیلومتر";
            }
        }
        
</script>
{% endblock %}


{% block content %}
<div class="stepper">
  <div class="circle done"> <span class="label">1</span>
    <span class="title">انتخاب مدارک</span>

  </div> <span class="bar done"></span>

  <div class="circle done"> <span class="label">2</span>
    <span class="title"> پیوست مدارک</span>

  </div> <span class="bar done"></span>

  <div class="circle done"> <span class="label">3</span>
    <span class="title">تعیین آدرس</span>

  </div> <span class="bar done"></span>

  <div class="circle active"> <span class="label">4</span>
    <span class="title">انتخاب دفتر ترجمه</span>

  </div> <span class="bar active"></span>

  <div class="circle"> <span class="label">5</span>
    <span class="title">صورتحساب</span>

  </div>
</div>

<div class="container mainContainer">
	<div id="geoHeader" class="row">
		<div class="col-sm-12">
			نزدیک ترین دفاتر ترجمه رسمی با زبان تخصصی 
                        <span id="lblLang">{{lang}}</span>
		</div>
	</div>
	<div class="row">
		<div id="centerList" class="list-group" style="width: 100%;direction: rtl;">
                    {% for center in centers %}
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"><div class="d-flex w-100 justify-content-between"><h6 class="mb-1">دفتر رسمی شماره {{center.code}} {{center.city}}</h6><small style="color: #00469c">{{center.manager}}</small></div><small class="mb-1">{{center.address}}<br/></small><small>{{center.phone}}</small><br/><small class="distance">{{center.sort}}</small></a>
                    {% endfor %}
		</div>
	</div>
</div>
<a href="صورتحساب"> <div class="btn btn-primary topButton" style="margin-top:10px;">ادامه</div></a>
{% endblock %}
