{% extends 'base.twig' %}
{% block keywords%}ترجمه رسمی آنلاین, ترجمه رسمی اینترنتی, ترجمه رسمی مدارک, ترجمه رسمی سند, ترجمه قوه قضاییه, ترجمه رسمی {{app_name}}{% endblock %}
{% block desc%}{{app_name}} سیستم ترجمه رسمی آنلاین{% endblock %}
{% block title %}ترجمه رسمی آنلاین {{app_name}}{% endblock %}
{% block styles %}
    <style>
        .mainContainer{
            margin-top: 5px;
            min-height: 100%;
            margin-bottom: -100px;
        }
    </style>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
    </script>
{% endblock %}

{% block slider %}
    <a href="انتخاب_مدارک_ترجمه_رسمی">
        <div class="cont">
            <img id="slider" class="d-block w-100" src="images/slider.jpg" alt="ترجمه رسمی آنلاین">
            <div class="top-left">
                <div style="font-size: 1vw;" class="btn btn-primary topButton">شروع کنید</div>
            </div>
{#            <div class="centered">اولین سامانه متمرکز ترجمه رسمی</div>#}
        </div>
    </a>
    
{% endblock %}

{% block content %}

    <div class="homePanel">

        <div class="d-flex justify-content-center">
            <span class="homePanelTitleCenter">فرایند سفارش ترجمه در {{app_name}}</span>
        </div>

        <div class="timecontainer">

            <div class="timeline-block timeline-block-right">

                <div class="timeline-content">
                    <h5>انتخاب مدارک</h5>
                    <p>در این مرحله تعیین می کنید چه نوع اسنادی به چه زبانی باید ترجمه شود.</p>
                </div>
                <div class="marker"></div>
            </div>

            <div class="timeline-block timeline-block-left">
                <div class="marker"></div>
                <div class="timeline-content">
                    <h5>پیوست تصویر مدارک</h5>
                    <p>در این مرحله یک تصویر خوانا از مدارکی که باید ترجمه شود ارسال می کنید.</p>
                </div>
            </div>

            <div class="timeline-block timeline-block-right">
                <div class="timeline-content">
                    <h5>ثبت سفارش</h5>
                    <p>پس از تعیین آدرس و انتخاب دفتر ترجمه مطلوب خود، سفارش را ثبت می کنید.</p>
                </div>
                <div class="marker"></div>
            </div>

            <div class="timeline-block timeline-block-left">
                <div class="marker"></div>
                <div class="timeline-content">
                    <h5>انجام ترجمه توسط مترجم رسمی</h5>
                    <p>سفارش شما به اطلاع مترجم انتخاب شده رسیده و کار ترجمه آغاز می شود.</p>
                </div>
            </div>

            <div class="timeline-block timeline-block-right">
                <div class="timeline-content">
                    <h5>تماس با شما جهت هماهنگی</h5>
                    <p>پس از انجام ترجمه مترجم با شما تماس می گیرد تا زمانی را جهت دریافت اصل مدارک از شما هماهنگ کند.</p>
                </div>
                <div class="marker"></div>
            </div>
            <div class="timeline-block timeline-block-left">
                <div class="marker"></div>
                <div class="timeline-content">
                    <h5>ارسال پیک دفتر ترجمه جهت دریافت اصل مدارک</h5>
                    <p>پیک دفتر ترجمه جهت دریافت اصل مدارک به آدرس شما ارسال می شود.</p>
                </div>
            </div>
            <div class="timeline-block timeline-block-right">
                <div class="timeline-content">
                    <h5>مشاهده اصل مدارک توسط مترجم و مهر کردن ترجمه ها</h5>
                    <p>مترجم با دیدن و تصدیق اصل مدارک، ترجمه آن ها را مهر کرده و به پیک تحویل می دهد.</p>
                </div>
                <div class="marker"></div>
            </div>
            <div class="timeline-block timeline-block-left">
                <div class="marker"></div>
                <div class="timeline-content">
                    <h5>بازگرداندن اصل و ترجمه مدارک توسط پیک</h5>
                    <p>مدارک ترجمه شده به همراه اصل آن ها توسط پیک به آدرس شما ارسال می شود.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="container homeDesc">
        <p>
            <a href="./">{{ app_name }}</a> 
اولین سامانه جامع ترجمه رسمی است که به شما کمک می کند به سرعت و با آسانی 
<a href="./انتخاب_مدارک_ترجمه_رسمی">مدارک </a> 
خود را ترجمه رسمی کنید. این سامانه امکان یافتن نزدیکترین 
<a href="./دفاتر_ترجمه_رسمی">دفاتر </a> 
 
به شما را فراهم می کند تا بتوانید با کمترین فوت وقت با دفتر موردنظر ارتباط برقرار کنید.
        </p>
        <p>
            <a href="./">{{ app_name }}</a> 
            بین مترجمان رسمی یک فضای رقابت ایجاد می کند تا مترجمی که بهترین کیفیت را در کوتاه ترین زمان ارائه می کند، امتیاز بالاتری نسبت به سایر مترجمین بگیرد. این فضای رقابت خود به خود کیفیت کار همه مترجمین را بالا می برد تا شما مشتریان عزیز خیلی سریع به ترجمه با کیفیت مطلوب برسید.
        </p>
        <p>
            یکی دیگر از مزایای
            <a href="./">{{ app_name }}</a> 
            ایجاد رقابت بین مترجمان بر اساس هزینه ارسال است. بعضی از مترجمان هزینه ارسال و دریافت مدارک را به طور کامل پرداخت می کنند. بعضی از آن ها هزینه را بر عهده مشتری می گذارند و بعضی از آن ها ارسال را تا مسافت خاصی به صورت رایگان انجام می دهند. 
            <a href="./">{{ app_name }}</a> 
            به شما مشتریان عزیز کمک می کند راحت تر در انتخاب مترجم تصمیم گیری کنید.
        </p>
        <p>
        <a href="./لیست_قیمت_ترجمه_رسمی">قیمت ترجمه</a> 
 در 
            <a href="./">{{ app_name }}</a> 
            منطبق با نرخنامه انجمن مترجمان رسمی است و مشتریان عزیز به غیر از هزینه ارسال هیچ هزینه اضافی پرداخت نمی کنند. البته برای مترجمانی که دارای پیک رایگان هستند، این هزینه نیز از هزینه های مشتری حذف می شود. تخمین هزینه ارسال و دریافت مدارک منطبق با نرخ الوپیک محاسبه می شود.</p>
    </div>

{% endblock %}
