{% extends 'base.twig' %}
{% block keywords%}ترجمه رسمی آنلاین, ترجمه رسمی اینترنتی, ترجمه رسمی مدارک, ترجمه رسمی سند, ترجمه قوه قضاییه, ترجمه رسمی {{app_name}}{% endblock %}
{% block desc%}{{app_name}} سیستم ترجمه رسمی آنلاین{% endblock %}
{% block title %}انتخاب مدارک ترجمه رسمی{% endblock %}
{% block styles %}
    <link href="css/selectric.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block scripts %}
    <script src="js/jquery.selectric.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $grid = $('#productGrid').isotope({
                itemSelector: '.pitem',
                layoutMode: 'fitRows'
            });
            $('select').selectric(
                    {
                        onChange: function (element) {
                            $grid.isotope({filter: ".categ" + element.value});
                        }
                    }
            );
            loadCart();
            $grid.isotope({filter: ".categ1" });
        });
        
        function loadCart() {
            var products = getProducts();
            var total = 0;
            for (var i = 0; i < products.length; i++) {
                total += addProductRow(products[i], i);
            }
        }
        function correctPage(page) {
            if (page === "0" || page === 0) {
                return 1;
            }
            return parseInt(page);
        }
        function addProductRow(product, index) {
            var template = $("#productTemplate").html();
            var total = getRowPrice(product);
            var compiled = _.template(template);
            var res = compiled({
                title: product.product.title,
                clone: product.clone,
                price: product.product.price,
                index: index,
                total: total
            });
            $("#billRows").append(res);
            return total;
        }
        function editClicked(index) {
            var product = getProducts()[index];
            setEditing(index, product);
            window.location = product.product.url;
        }
        function removeClicked(index) {
            removeProduct(index);
            $("#cartItem_" + index).remove();
        }
        function getRowPrice(product) {
            var prices = JSON.parse($("#txtPrice").val());
            var total = 0;
            var translateBase = product.product.price;
            if (product.lang !== "1") {
                translateBase = product.product.extra;
            }
            var pages = parseInt(product.pages);
            if (pages > 1) {
                total = translateBase * pages;
            } else {
                total = translateBase;
            }
            if (product.marriage) {
                total += prices.shenas_item;
            }
            if (product.talagh) {
                total += prices.shenas_item;
            }
            if (product.wifeDie) {
                total += prices.shenas_item;
            }
            if (product.die) {
                total += prices.shenas_item;
            }
            if (product.desc) {
                total += prices.shenas_item;
            }
            total += prices.shenas_item * product.childCount;
            total += prices.passport * (product.mohrCount + product.vizaCount);
            total += prices.enteghal * (product.entghalCount);
            if (product.clone !== "1") {
                total += (parseInt(product.clone) - 1) * total / 4;
            }
            return total;
        }
        function categClick(id, e) {
            $(".category").removeClass("categorySelected");
            $("#categ" + id).addClass("categorySelected");

            if (id === 0) {
                for (var i = 1; i <= 5; i++) {
                    $(".categ" + i).removeClass("hidden");
                    $(".categ" + i).addClass("visible");
                }
            } else {
                for (var i = 1; i <= 5; i++) {
                    if (i === id) {
                        $(".categ" + i).removeClass("hidden");
                        $(".categ" + i).addClass("visible");
                    } else {
                        $(".categ" + i).removeClass("visible");
                        $(".categ" + i).addClass("hidden");
                    }
                }
            }
        }
        function productClick(e) {
            var href = this.href;
            setEditing(-1, null);
            location.href = href;
        }
    </script>
    <script type="text/template" id="productTemplate">
        <div id="cartItem_<%= index %>" data-index="<%= index %>" class="list-group-item list-group-item-action flex-column align-items-start" style="text-align: right;">
               <div class="d-flex w-100 justify-content-between">
               <h7 class="mb-1"><%= title %></h7>
               </div>
               <small>قیمت واحد: <%= price %> تومان</small>
               <br/>
               <small>تعداد: <%= clone %></small>
               <br/>
               <small>جمع: <%= total %> تومان</small>
                <div style="display: flex;justify-content: space-between; margin-top: 8px;">
                    <button onclick="editClicked(<%= index %>);" type="button" style="background-color: #e6e6e6" class="btnEdit btn btn-light">ویرایش</button>
                    <button onclick="removeClicked(<%= index %>);" type="button" style="background-color: #e6e6e6" class="btnRemove btn btn-light">حذف</button>
                </div>
        </div>
    </script>
{% endblock %}

{% block content %}
    <input id="txtPrice" style="display: none" value="{{prices}}"/>
    <div class="stepper">
        <a href="#"> <div style="margin-top: 10px;" class="btn btn-primary topButton stepDisabled">مرحله قبل</div></a>
        <div class="stepTitle">انتخاب مدارک</div>
        <a href="upload"> <div style="margin-top: 10px;" class="btn btn-primary topButton">مرحله بعد</div></a>
    </div>

    <div id="page1" style="direction:rtl;margin-top:10px;">

        <div id="typeBox" class="box" style="width:200px;">
            <select>
                <option value="1">مدارک شخصی</option>
                <option value="3">اسناد</option>
                <option value="2">مدارک تحصیلی</option>
                <option value="4">شرکت ها و دفاتر</option>
                <option value="5">گواهی و پروانه</option>
            </select>
        </div>
        <div id="productGrid" style="margin-top: 10px;width: 100%;">
            <div class="row">
                {% for product in products %}
                    <div class='pitem col-lg-3 col-md-4 col-sm-6 col-12 categ{{product.category}}'><a onclick="productClick(event);" href='{{product.url}}'> <div class='productItem ml-1 mr-1 mt-3'>{{product.title}}</div> </a></div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
