{% extends 'base.twig' %}
{% block keywords%}ترجمه رسمی آنلاین, ترجمه رسمی اینترنتی, ترجمه رسمی مدارک, ترجمه رسمی سند, ترجمه قوه قضاییه, ترجمه رسمی {{app_name}}{% endblock %}
{% block desc%}{{app_name}} سیستم ترجمه رسمی آنلاین{% endblock %}
{% block title %}انتخاب مدارک ترجمه رسمی{% endblock %}
{% block styles %}
    <link href="css/selectric.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block scripts %}
    <script src="js/jquery.selectric.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $grid = $('#productGrid').isotope({
                itemSelector: '.pitem',
                layoutMode: 'fitRows'
            });
            $('select').selectric(
                    {
                        onChange: function (element) {
                            $grid.isotope({filter: ".categ" + element.value});
                        }
                    }
            );
            $grid.isotope({filter: ".categ1" });
        });

        function categClick(id, e) {
            $(".category").removeClass("categorySelected");
            $("#categ" + id).addClass("categorySelected");

            if (id === 0) {
                for (var i = 1; i <= 5; i++) {
                    $(".categ" + i).removeClass("hidden");
                    $(".categ" + i).addClass("visible");
                }
            } else {
                for (var i = 1; i <= 5; i++) {
                    if (i === id) {
                        $(".categ" + i).removeClass("hidden");
                        $(".categ" + i).addClass("visible");
                    } else {
                        $(".categ" + i).removeClass("visible");
                        $(".categ" + i).addClass("hidden");
                    }
                }
            }
        }
        function productClick(e) {
            var href = this.href;
            setEditing(-1, null);
            location.href = href;
        }
    </script>
{% endblock %}

{% block content %}
    
    <div class="stepper">
        <div style="margin-top: 10px;" class="btn btn-primary topButton stepDisabled">مرحله قبل</div>
        <div class="stepTitle">انتخاب مدارک</div>
        <div onclick="goNext(2);" style="margin-top: 10px;" class="btn btn-primary topButton">مرحله بعد</div>
    </div>

    <div id="page1" style="direction:rtl;margin-top:10px;">

        <div id="typeBox" class="box" style="width:200px;">
            <select>
                <option value="1">مدارک شخصی</option>
                <option value="3">اسناد</option>
                <option value="2">مدارک تحصیلی</option>
                <option value="4">شرکت ها و دفاتر</option>
                <option value="5">گواهی و پروانه</option>
            </select>
        </div>
        <div id="productGrid" style="margin-top: 10px;width: 100%;">
            <div class="row">
                {% for product in products %}
                    <div class='pitem col-lg-3 col-md-4 col-sm-6 col-12 categ{{product.category}}'><a onclick="productClick(event);" href='{{product.url}}'> <div class='productItem ml-1 mr-1 mt-3'>{{product.title}}</div> </a></div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
